.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
		
.carousel-control-next{
	background:#808080FF ;
	width: 2%;
	border-radius: 5px;
}
.carousel-control-prev{
	background:#808080FF ;
	width: 2%;
	border-radius: 5px;
}

.fa-id-badge{
	margin-top: 15%;
	font-size: 670%;
	color:#808080FF;
}


